<div>
  <h2 id="page-heading" data-cy="EvidenceHeading">
    <span>Evidences</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-evidence"
        [routerLink]="['/evidence/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Evidence </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="evidences?.length === 0">
    <span>No evidences found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="evidences && evidences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="url"><span>Url</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="image"><span>Image</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="visit.id"><span>Visit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evidence of evidences; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/evidence', evidence.id, 'view']">{{ evidence.id }}</a>
          </td>
          <td>{{ evidence.name }}</td>
          <td>{{ evidence.url }}</td>
          <td>
            <a *ngIf="evidence.image" (click)="openFile(evidence.image, evidence.imageContentType)">
              <img
                [src]="'data:' + evidence.imageContentType + ';base64,' + evidence.image"
                style="max-height: 30px"
                alt="evidence image"
              />
            </a>
            <span *ngIf="evidence.image">{{ evidence.imageContentType }}, {{ byteSize(evidence.image) }}</span>
          </td>
          <td>
            <div *ngIf="evidence.visit">
              <a [routerLink]="['/visit', evidence.visit?.id, 'view']">{{ evidence.visit?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/evidence', evidence.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/evidence', evidence.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(evidence)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="evidences && evidences.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
