<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="material">
      <h2 data-cy="materialDetailsHeading"><span>Material</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ material.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ material.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ material.description }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ material.quantity }}</span>
        </dd>
        <dt><span>Unit Cost</span></dt>
        <dd>
          <span>{{ material.unitCost }}</span>
        </dd>
        <dt><span>Visit</span></dt>
        <dd>
          <div *ngIf="material.visit">
            <a [routerLink]="['/visit', material.visit?.id, 'view']">{{ material.visit?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
