<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-address-component-heading" data-cy="AddressComponentCreateUpdateHeading">Create or edit a Address Component</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_longName">Long Name</label>
          <input type="text" class="form-control" name="longName" id="field_longName" data-cy="longName" formControlName="longName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_shortName">Short Name</label>
          <input type="text" class="form-control" name="shortName" id="field_shortName" data-cy="shortName" formControlName="shortName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_address">Address</label>
          <select class="form-control" id="field_address" data-cy="address" name="address" formControlName="address">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                googleAddressOption.id === editForm.get('address')!.value?.id ? editForm.get('address')!.value : googleAddressOption
              "
              *ngFor="let googleAddressOption of googleAddressesSharedCollection; trackBy: trackGoogleAddressById"
            >
              {{ googleAddressOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_type">Type</label>
          <select class="form-control" id="field_type" data-cy="type" name="type" formControlName="type">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="addressTypeOption.id === editForm.get('type')!.value?.id ? editForm.get('type')!.value : addressTypeOption"
              *ngFor="let addressTypeOption of addressTypesSharedCollection; trackBy: trackAddressTypeById"
            >
              {{ addressTypeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
